<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/style.css">
    <title>Document</title>
</head>
<body class="bg-slate-500 flex items-center justify-center h-[100vh]">
    hello
    <div class="bg-slate-50 text-white">Welcome to my website</div>

</body>
</html>